:root{
    --light-blue: #2072e6;
    --pill-blue: #1a5bb8;
}


.ms_logo_mobile{
    width: 45px;
}

.ms_gold_bel{
    color: gold;
}

header nav{
    height: 55px;
}

.sidebar-top{
    height: calc(100% - 50px);
}

.sidebar-bottom{
    height: 50px;
}

#ms_big_container{
    margin-top: 56px;
    height: calc(100vh - 56px);
}

#sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-color: #051d33;
    width: 50px;
    min-height: 500px;
}

.ms_hover_li:hover{
    background-color: white;
    color: black;
}

main{
    width: calc(100vw - 50px);
    overflow-y: scroll;
}


#ms_main_header{
    width: 100%;
    background-color: var(--light-blue);
}

.breadcrumb-item+.breadcrumb-item::before{
    color: white;
}


.ms_table_col_big{
    width: auto;
}

.ms_table_col_small{
    width: 10%;
}

.ms_logo_class{
    width: 30px;
    border-radius: 50%;
}

.ms_table_text tr th:first-child, .ms_table_text tr td:first-child{
    text-align: left;
}

.ms_table_text tr th:nth-child(2),.ms_table_text tr td:nth-child(2){
    display: none;
}

.ms_table_text tr th:nth-child(3),.ms_table_text tr td:nth-child(3){
    display: none;
}


.ms_pill_blue{
    background-color: var(--pill-blue);
}

.offcanvas.offcanvas-end{
    width: 100%;
}


                /* media queri */


@media screen and (min-width: 768px) {
    .ms_table_text tr th:nth-child(2),.ms_table_text tr td:nth-child(2){
        display: table-cell;
    }
    
    .ms_table_text tr th:nth-child(3),.ms_table_text tr td:nth-child(3){
        display: table-cell;
    }
}





@media screen and (min-width: 992px){
    #sidebar{
        width: 150px;
    }    
    main{
        width: calc(100vw - 150px);
    }
    .offcanvas.offcanvas-end{
        width: 35%;
    }
}