:root{
    --light-blue: #2072e6;
    --pill-blue: #1a5bb8;
}


.ms_logo_mobile{
    width: 45px;
}

.ms_gold_bel{
    color: gold;
}

header nav{
    height: 55px;
}


#ms_big_container{
    margin-top: 56px;
    height: calc(100vh - 56px);
}

#sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-color: #051d33;
}

main{
    width: calc(100vw - 50px);
    overflow-y: scroll;
}


#ms_main_header{
    width: 100%;
    background-color: var(--light-blue);
}

.breadcrumb-item+.breadcrumb-item::before{
    color: white;
}



/* debug */

.debug .sidebar-top{
    height: calc(100% - 50px);
}

.debug .sidebar-bottom{
    height: 50px;
}
.blu{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.box{
    height: 50px;
    background-color: red;
    width: 100%;
}

/* fine debug  */

.ms_pill_blue{
    background-color: var(--pill-blue);
}














@media screen and (min-width: 992px){
    #sidebar{
        width: 150px;
    }    
}